#container {
    /* height: calc(100% - 3.5rem); */
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    flex: 1;
    max-width: 1200px;
    padding: 2rem 1rem;
}

@media (max-width: 1200px) {
    .content {
        padding: 1rem;
    }
}